.gradient-background {
  background: linear-gradient(300deg, #cc09b9, #ff4c68, #19c2f5);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  30% {
    background-position: 100% 30%;
  }
  100% {
    background-position: 0% 50%;
  }
}



 


.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 100px;
  border-radius: 50%;
}






